{% extends 'base.html.twig' %}

{% block body %}

    {% for partner in partners %}

        <li><a class="grey-text text-lighten-3" href="{{ partner.mail }}">{{ partner.partner }}</a></li>

    {% endfor %}

{% endblock %}
