{% blok title %}
    parent()
    {{ status_text }}
{% endblock %}

    <link rel="stylesheet" href="{{ asset('css/errors/errors_pages.css') }}" media="all">

{% block stylesheets %}

{% endblock %}

{% block body %}

    <div class="background-error">
        <h1>Oops! une erreur est apparue</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>
    </div>

{% endblock %}

