/********************************************************************************************************************/

/*                                                     RESPONSIVE                                                   */

/********************************************************************************************************************/


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}

/********************************************************************************************************************/

/*                                                        GENERAL                                                   */

/********************************************************************************************************************/

input{
    width: 300px !important;
    opacity: 1 !important;
}

p{
    font-size: larger;
}

.plus-icon{

    width: 45px;
    height: 45px;
}
.plus-icon-index{

    width: 25px;
    height: 25px;
}

.warning{

    width: 350px;
    height: 250px;

}

#test5{
    margin-top: 10px !important;
    width: 30px !important;
    height: 30px;
}

button{
    border: none;
    background: none;
}

<<<<<<< HEAD
/*.font-slide{*/
    /*color: #546e7a;*/
/*}*/

.font-slide{
    color: #5a5959;
=======
.font-slide{
    color: #546e7a;
>>>>>>> dev
}

.font-href-foot{
    color: white;
}
<<<<<<< HEAD

/*******************************************************/
/*                                                     */
/*                                                     */
/*                   LAYOUT                            */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************ NAV BAR **********************/
/*******************************************************/
/*******************************************************/
.decal {
    margin-left: 30px;
}

.fsize {
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
}

.backnav, .backfoot {
    background-color: black !important;
}

/* Extension TITRE */
.backcontent {
    background-color: #546e7a !important;
}

.navbutton {
    background-color: black;
    border-color: #546e7a;
}

.navbutton:hover {
    background-color: #546e7a;
}

.f-size {
    font-size: 70px !important;
    color: white;
}
.bouton-new-gallery{
     width: 30px !important;
     height: 30px !important;
 }
.bouton-new-gallery-icon{
    margin-top: -12px;
}

.material-icons-size{
    margin-left: 40px !important;
    font-size: 40px !important;
}

.marginright{
    margin-right: 7%;
=======

/*******************************************************/
/*                                                     */
/*                                                     */
/*                   LAYOUT                            */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************ NAV BAR **********************/
/*******************************************************/
/*******************************************************/
.decal {
    margin-left: 30px;
}

.fsize {
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
}

.backnav, .backfoot {
    background-color: black !important;
}

/* Extension TITRE */
.backcontent {
    background-color: #546e7a !important;
}

.navbutton {
    background-color: black;
    border-color: #546e7a;
}

.navbutton:hover {
    background-color: #546e7a;
}

.f-size {
    font-size: 70px !important;
    color: white;
}
.bouton-new-gallery{
     width: 30px !important;
     height: 30px !important;
 }
.bouton-new-gallery-icon{
    margin-top: -12px;
}

.material-icons-size{
    margin-left: 40px !important;
    font-size: 40px !important;
}

.marginright{
    margin-right: 7%;
}

/*******************************************************/
/*******************************************************/
/************************ FOOTER ***********************/
/*******************************************************/
/*******************************************************/
body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
    font-family: 'Dancing Script', cursive !important;
}

main {
    flex: 1 0 auto !important;
>>>>>>> dev
}

/*******************************************************/
/*******************************************************/
/************************ FOOTER ***********************/
/*******************************************************/
/*******************************************************/
body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
    font-family: 'Dancing Script', cursive !important;
}

<<<<<<< HEAD
main {
    flex: 1 0 auto !important;
=======
.valign{
    padding-top: 25%;
>>>>>>> dev
}

.valign-li{
    padding-top: 3%;
}

<<<<<<< HEAD
.valign{
    padding-top: 25%;
}

.valign-li{
    padding-top: 3%;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                     ACCUEIL                         */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/*********************** CAROUSEL **********************/
/*******************************************************/
/*******************************************************/
.marge {
    margin-top: 94px;
}

.slider{
    z-index: -20;
}

.slider .indicators .indicator-item.active {
    background-color: #9F9F9F;
}

=======
/*******************************************************/
/*                                                     */
/*                                                     */
/*                     ACCUEIL                         */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/*********************** CAROUSEL **********************/
/*******************************************************/
/*******************************************************/
.marge {
    margin-top: 94px;
}

>>>>>>> dev
/*******************************************************/
/*******************************************************/
/********************* CARD ABOUT **********************/
/*******************************************************/
/*******************************************************/
.card-size {
    margin-top: 40px;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                        LOGIN                        */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************ LOGIN ************************/
/*******************************************************/
/*******************************************************/
    .login{
        color: white;
    }
    .login:hover{
        color: white;
    }

/*******************************************************/
/*                                                     */
/*                                                     */
/*                       HEADER                        */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************* NEW *************************/
/*******************************************************/
/*******************************************************/
.header-marge {
    margin-top: 145px;
}

.header-buttom-marge {
    margin-top: 60px;
}

/*******************************************************/
/*******************************************************/
/******************** SHOW ALL *************************/
/*******************************************************/
/*******************************************************/
.decal{
    margin-left: 50px;
    font-size: 25px !important;
}

.title{
    font-weight: bold;
    text-decoration: underline;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                       GALLERY                       */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************ INDEX ************************/
/*******************************************************/
/*******************************************************/

.box-size{
    display: flex;
    float: right;
    width: 20%;
}

.disposition1{
    width: 70%;
    float: left;
}
.disposition2{
    width: 30%;
    float: right;
}

/*******************************************************/
/*******************************************************/
/************************ EDIT *************************/
/*******************************************************/
/*******************************************************/

.disposition{
    display: flex;
}

/*******************************************************/
/*                                                     */
/*                                                     */
/*                       LISTE                         */
/*                                                     */
/*                                                     */
/*******************************************************/

.picsize{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    /*margin-left: 1.5%;*/
    /*margin-top: 1.5%;*/
}

.picsize-listindex{
    height: 100px;
    width: 200px;
}

.back-picture{
    height: 210px;
    width: 310px;
    background-color: #9F9F9F;
    border-radius: 20px;
    box-shadow: 8px 8px 12px #aaa;
}

.view{
    background-color: #9F9F9F;
    border-radius: 20px;
}