


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/

    .card-size{
        margin: auto;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }

}



    /*******************************************************/
    /*                                                     */
    /*                                                     */
    /*                   LAYOUT                            */
    /*                                                     */
    /*                                                     */
    /*******************************************************/
    /*******************************************************/
    /*******************************************************/
    /************************ NAV BAR **********************/
    /*******************************************************/
    /*******************************************************/
    .decal {
        margin-left: 30px;
    }

    .fsize {
        font-size: 15px;
        font-family: 'Dancing Script', cursive;
    }

    .backnav, .backfoot {
        background-color: black !important;
    }

    /* Extension TITRE */
    .backcontent {
        background-color: #546e7a !important;
    }

    .navbutton {
        background-color: black;
        border-color: #546e7a;
    }

    .navbutton:hover {
        background-color: #546e7a;
    }

    .f-size {
        font-size: 70px !important;
    }

    /*******************************************************/
    /*******************************************************/
    /************************ FOOTER ***********************/
    /*******************************************************/
    /*******************************************************/
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        font-family: 'Dancing Script', cursive;
    }

    main {
        flex: 1 0 auto;
    }

    /*******************************************************/
    /*                                                     */
    /*                                                     */
    /*                     ACCUEIL                         */
    /*                                                     */
    /*                                                     */
    /*******************************************************/
    /*******************************************************/
    /*******************************************************/
    /*********************** CAROUSEL **********************/
    /*******************************************************/
    /*******************************************************/
    .marge {
        margin-top: 94px;
    }

    /*******************************************************/
    /*******************************************************/
    /********************* CARD ABOUT **********************/
    /*******************************************************/
    /*******************************************************/
    .card-size {
        margin-top: 40px;
        -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
    }















/*******************************************************/
/*                                                     */
/*                                                     */
/*                        LOGIN                        */
/*                                                     */
/*                                                     */
/*******************************************************/
/*******************************************************/
/*******************************************************/
/************************ LOGIN ************************/
/*******************************************************/
/*******************************************************/

    .login{
        color: white;
    }
    .login:hover{
        color: white;
    }