{% extends 'layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <ul id="dropdown2" class="dropdown-content">

            {% for gallery in galleries %}

                <li><a href="">{{ gallery.name }}</a></li>

            {% endfor %}

            <li>
                <a href="{{ path('header_new') }}" class="btn-floating btn-large waves-effect waves-light green darken-1 bouton-new-gallery">
                    <i class=" material-icons bouton-new-gallery-icon">add</i>
                </a>
            </li>
        </ul>

    {% else %}

        <div class="container">
            <div class="row center">
                <div class="col s12">
                    <img src="{{ asset('images/local/icons/warning-icon1.svg') }}" class="warning">
                </div>
                <div class="col s12">
                    <h2 class="center-align">La page Que vous recherchez n'existe pas</h2>
                </div>
            </div>

        </div>

    {% endif %}

{% endblock %}
